#chartContainer {
    width: 100%;
    margin:20px, auto, 0px, auto;
    height: 80%;
}

.container {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}


label {
    margin: 20px 20px;
    font-size: large;
    color: #012A4A;
}

#labelRow{
    display: flexbox;
    justify-content: space-around;
    margin-bottom: 30px;
}

#Change {
    width: 200px;
    height: 40px;
    background-color: #2A6F97;
    color: white;
    border-radius: 10px;
    border-color: #A9D6E5;
}

#Input{
    margin-top: 40px;
}

#Submit{
    width: 80px;
    height: 30px;
    background-color: #2A6F97;
    color: white;
    border-radius: 10px;
    border-color: #A9D6E5;
}

body {
    
    background-color: #A9D6E5;
}

h1 {
    text-align: center;
    color: #012A4A;
}



#inputValue::-webkit-slider-thumb {
    /* Colora il thumb dello slider per Firefox */
    background-color: #2A6F97 !important;
}